@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster-Regular.woff") format("woff");
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway/Raleway-Bold.woff") format("woff");
}
@font-face {
  font-family: "Raleway-Medium";
  src: url("../fonts/Raleway/Raleway-Medium.woff") format("woff");
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway/Raleway-Regular.woff") format("woff");
}
@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway/Raleway-Light.woff") format("woff");
}

.aboutContent {
  width: 40%;
  height: 28.15%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  top: 53%;
  left: 25%;
  transform: translate(0, -50%);
}

.aboutIntroduction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 70%;
  float: left;
  left: 0%;
}

#ideator {
  font-family: "Raleway-Bold";
  font-size: 50px;
  margin-bottom: 6%;
}

#paragraph {
  font-family: "Raleway-Regular";
  font-size: 17px;
  color: #555555;
  line-height: 120%;
  text-align: justify;
}

.aboutContact {
  position: absolute;
  right: 0%;
  width: 4%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.aboutContact__IMGwrapper {
  width: 100%;
  height: 100%;
  margin-top: 40%;
}

.aboutContact__IMG {
  float: right;
  width: 100%;
  height: 100%;
}

.tooltip #tooltiptext {
  font-family: "Raleway-Medium";
  visibility: hidden;
  width: 1000%;
  color: #000000;
  padding: 24% 0;
  position: absolute;
  left: 150%;
  z-index: 1;
}

#copyIcon {
  position: absolute;
  height: 25%;
  visibility: hidden;
}

#copyFinishIcon {
  position: absolute;
  height: 25%;
  visibility: hidden;
  cursor: default;
}

/* .tooltip:hover #tooltiptext { */
/* visibility: visible;
}

.tooltip:hover #mailIcon {
  visibility: hidden;
}

.tooltip:hover #copyIcon {
  visibility: visible;
} */
